# listenTo
snippet lt
	listenTo(${1:object}, '${2:event}', ${3:callback});

snippet lto
	listenToOnce(${1:object}, '${2:event}', ${3:callback});

snippet stl
	stopListening(${1:object}, '${2:event}', ${3:callback});

snippet tr
	trigger('${1:event}');

snippet on
	on('${1:event}', ${2:callback});

snippet oc
	once('${1:event}', ${2:callback});

snippet off
	off('${1:event}', ${2:callback});
